<!DOCTYPE html>
<html>
        <head>
            <title>Breakfast App</title>
        </head>
        <body>
            <h1> YELL MY BREAKFAST </h1>
            <form method="POST" action="/">
                <p>Enter your breakfast here<input name="breakfast" /></p>
                <button type = "submit">Submit</button>
            </form>
        </body>
</html>
  <!--post '/' do-->
  <!--  params[:breakfast].upcase + "!!!!!!"-->
  <!--end-->
  
 <!-- inputs creates a params hash in sinatra-->
 <!--params = {-->
 <!--  :breakfast => (user input)-->
 <!--}-->